/* NEWS_ARTICLES_LINKING CAROUSEL */
.news_articles_linking .owl-item .news_articles_single_container img {
    max-height: 500px;
    object-fit: cover;
    object-position: top;
}

.news_articles_linking .owl-nav {
    position: absolute;
    left: 0;
    top: 40%;
    transform: translate(0, -50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 6rem;
    color: #fff;
    opacity: 0.7;
    padding: 0 0.5em;
    box-sizing: border-box;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    color: #86D0F4;
    background: transparent;
}


.news_articles_linking .owl-dots {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    padding: 0.25rem;
    text-align: center;
    font-size: 2rem;
}

/* WIND SINGLE STYLE */
    .news_articles_linking_container.owl-carousel.owl-theme {
        padding: 0 1rem;
        box-sizing: border-box;
    }
    .news_articles_linking_container.owl-carousel .owl-item {
        padding-bottom: 1rem;
    }

    .owl-carousel .owl-item .keypoints_container .keypoint_list img {
        max-height: 40px;
        width: auto;
        display: inline-block;
    }

    section.wind_services_linking .owl-nav {
        font-size: 4rem;
        display: flex;
        justify-content: space-around;
        margin-bottom: -2.5rem;
    }
    section.wind_services_linking .owl-nav button[class*=owl-] {
        display: block;
        height: 50px;
        width: 50px;
        background: #ddd;
        border-radius: 50%;
    }
    section.wind_services_linking .owl-nav button[class*=owl-]:hover {background: #efefef;}
    
    section.wind_services_linking .owl-nav button[class*=owl-] > span {
        display: block;
        margin-top: -25px;
    }
    section.wind_services_linking .owl-dots {margin-bottom: 1.5rem;}