/* NEWS_ARTICLES_LINKING CAROUSEL */
.news_articles_linking .owl-item .news_articles_single_container img {
    max-height: 500px;
    object-fit: cover;
    object-position: top;
}

.news_articles_linking .owl-nav {
    position: absolute;
    left: 0;
    top: 40%;
    transform: translate(0, -50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 6rem;
    color: #fff;
    opacity: 0.7;
    padding: 0 0.5em;
    box-sizing: border-box;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    color: #86D0F4;
    background: transparent;
}


.news_articles_linking .owl-dots {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    padding: 0.25rem;
    text-align: center;
    font-size: 2rem;
}

/* WIND SINGLE STYLE */

.owl-carousel .owl-item .keypoints_container .keypoint_list img {
    max-height: 40px;
    width: auto;
    display: inline-block;
}